li{
    list-style: none;
}
li::before{
    content:"★";
}
li.up::after{
    content:"↑";
    color:red;
}
li.down::after{
    content:"↓";
    color:blue;   
}
li.even::after{
    content:"→";
    color:gray;
}