body {
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 0%,
                                    rgba(255, 255, 255, 0.5) 100%),
                                   url("images/sakura.jpg");
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    padding: 10px 20px;
}
ol, li {
    font-weight: bold;
    margin: 0px 20px;
    padding: 10px 20px;
}