body {
    background-image: url("images/sakura.jpg");
}
h1, o1 {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255 0.5);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5),
                -5px -5px 10px rgba(255, 255,255,0.5);
}