
#navi_header{    
    background-color:rgba(255, 255, 255, 0.5);
}
.navi_k{
    width: 1250px;
}
.navi_s{
    width: 1000px;
}
.navi_f{
    width: 1000px;
}
.navi_t{
    width: 1000px;
}
#mainpart1{
    height: 500px;
    background-color: rgba(250, 235, 215, 0.658);
    text-align: center;
    font-family: 游明朝, 游ゴシック;
}
li{
    display: inline;
}
#navi_footer{
    background-color: white;
    text-align: center;
    font-family: 游明朝, 游ゴシック;
}
a:visited{
    text-decoration: none;
    color: black;
    font-family: 游明朝, 游ゴシック;
}
a:hover{
    color: gray;
    font-family: 游明朝, 游ゴシック;
}
#copyright{
    font-size: xx-small;
    background-color: black;
    color: white;
    font-style: italic;
    text-align: center;
}