a:hover{
    text-decoration: none;
    background-color: grey;
    border: 2px solid whitesmoke;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
#copyright{
    font-size: xx-small;
    color: gainsboro;
    font-style: italic;
    text-align: center;
    padding-top: 150px;
}
body{
    background-color: rgb(0, 0, 0);
    color:whitesmoke;
    text-align: center;
    
}
header{
    background-color:blue;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    width: 100%;
    display: flex; 
    justify-content: space-between;
}
#navi_header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 125px;
    padding-right: 125px;
} 
.navi_m{
    margin-right: 10px;
}
.navi_b{
    margin-left: 10px;
    margin-left: auto;
}
div{
    padding: 10;
}
span{
    font-size: xx-small;
}

/*画像*/
#pixelCanvas {
    display: flex; /* 使用flexbox來顯示字母 */
    flex-direction: row; /* 水平顯示字母 */
    justify-content: center;
    align-items: flex-start;
}

.pixel-grid {
    display: grid;
    grid-template-columns: repeat(5, 20px);  /* 每個字母5列 */
    grid-template-rows: repeat(5, 20px);     /* 每個字母5行 */
    gap: 1px;
    margin: 10px;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: black;  /* 默認為黑色背景 */
}

.active {
    background-color: white; /* 文字部分設為白色 */
}