h2 {
    color:#3fb1e5;
}
.buffaloes{
    color:darkblue;
}
.hawks{
    color:#f4c427;
}
.lions{
    color:rgb(5, 30 70);
}
.marines{
    color:#CCC;
}
.eagles{
    color:hsl(352, 100%,26%);
}
.fighters{
    color:rgba(2,81,140,1.0);
}